# ACS 2018 Modeled

In [1]:
dataset_id = "acs_2018_modeled"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'sashimi-266523:acs_2018_modeled' successfully created.

## Tables from Original Economics Table

### Labor Force Stats

In [50]:
%%bigquery
create table acs_2018_modeled.Labor_Force_Stats as 
select NAME, 
cast(replace(DP03_0002PE, '-', '0') as FLOAT64) as DP03_0002PE, 
cast(replace(DP03_0004PE, '-', '0') as FLOAT64) as DP03_0004PE, 
cast(replace(DP03_0005PE, '-', '0') as FLOAT64) as DP03_0005PE, 
DP03_0014E 
from acs_2018_staging.economics

Empty DataFrame
Columns: []
Index: []

In [52]:
%%bigquery
select DP03_0002PE as Labor_Force, DP03_0004PE as Cilivilian_Labor_Force_Employeed, 
DP03_0005PE as Cilivilian_Labor_Force_Unemployeed, DP03_0014E as Children_In_HouseHold 
from  `acs_2018_modeled.Labor_Force_Stats` 
order by DP03_0002PE desc, DP03_0014E desc
limit 10

,Labor_Force,Cilivilian_Labor_Force_Employeed,Cilivilian_Labor_Force_Unemployeed,Children_In_HouseHold
0,100.0,100.0,0.0,84
1,100.0,100.0,0.0,67
2,100.0,100.0,0.0,65
3,100.0,86.8,13.2,57
4,100.0,100.0,0.0,57
5,100.0,100.0,0.0,56
6,100.0,100.0,0.0,56
7,100.0,100.0,0.0,50
8,100.0,100.0,0.0,50
9,100.0,100.0,0.0,41

### Labor in Industry

Number of people in a given ZCTA area in a particular industry

In [ ]:
%%bigquery
create table acs_2018_modeled.Labor_In_Industry as 
select NAME, DP03_0033E, DP03_0034E, DP03_0035E, DP03_0036E, DP03_0037E, DP03_0038E, DP03_0039E, 
DP03_0040E, DP03_0041E, DP03_0042E, DP03_0043E, DP03_0045E
from acs_2018_staging.economics

In [24]:
%%bigquery
select DP03_0033E as Argiculture, DP03_0034E as Construction, DP03_0035E as Manufacturing, 
DP03_0036E as Wholesale, DP03_0037E as Retail, DP03_0038E as Transportation, DP03_0039E as Information, 
DP03_0040E as Finance_Real_Estate, DP03_0041E as Professional_Scientific_Management, 
DP03_0042E as Educational_Health_Care, DP03_0043E as Art_Entertainment, DP03_0045E as Public_Administration 
from `acs_2018_modeled.Labor_In_Industry` 
order by NAME desc
limit 10

,Argiculture,Construction,Manufacturing,Wholesale,Retail,Transportation,Information,Finance_Real_Estate,Professional_Scientific_Management,Educational_Health_Care,Art_Entertainment,Public_Administration
0,142,94,43,9,147,104,30,30,22,262,73,109
1,19,0,0,0,9,0,0,0,0,0,0,0
2,37,6,38,0,36,48,0,8,22,167,47,122
3,47,25,10,5,51,37,3,17,13,62,31,68
4,0,0,0,0,0,0,0,0,0,15,0,0
5,6,6,2,0,6,12,2,0,3,31,3,28
6,187,74,93,37,69,93,6,26,29,197,119,84
7,59,13,14,7,32,8,2,12,17,67,7,49
8,0,25,0,0,5,0,0,0,4,11,0,18
9,0,0,0,0,0,0,0,0,0,0,0,0

### Commute

How people commute to work and how much time they spend on commuting

In [37]:
%%bigquery
create table acs_2018_modeled.Commute as 
select NAME, 
cast(replace(DP03_0019PE, '-', '0') as FLOAT64) as DP03_0019PE, 
cast(replace(DP03_0020PE, '-', '0') as FLOAT64) as DP03_0020PE, 
cast(replace(DP03_0021PE, '-', '0') as FLOAT64) as DP03_0021PE, 
cast(replace(DP03_0022PE, '-', '0') as FLOAT64) as DP03_0022PE,
cast(replace(DP03_0023PE, '-', '0') as FLOAT64) as DP03_0023PE, 
cast(replace(DP03_0024PE, '-', '0') as FLOAT64) as DP03_0024PE,
cast(replace(replace(DP03_0025E, 'N', '0'), '-', '0') as FLOAT64) as DP03_0025E
from acs_2018_staging.economics

Empty DataFrame
Columns: []
Index: []

In [38]:
%%bigquery
select NAME, DP03_0019PE as Drive_Alone, DP03_0020PE as Carpooled, DP03_0021PE as Public_Transportation, 
DP03_0022PE as Walked, DP03_0023PE as Others, DP03_0024PE as Work_From_Home, DP03_0025E as Mean_Travel_Time_To_Work
from acs_2018_modeled.Commute
order by DP03_0019PE desc, DP03_0020PE desc
limit 10

,NAME,Drive_Alone,Carpooled,Public_Transportation,Walked,Others,Work_From_Home,Mean_Travel_Time_To_Work
0,ZCTA5 24857,100.0,0.0,0.0,0.0,0.0,0.0,27.2
1,ZCTA5 24811,100.0,0.0,0.0,0.0,0.0,0.0,34.7
2,ZCTA5 47858,100.0,0.0,0.0,0.0,0.0,0.0,31.6
3,ZCTA5 04343,100.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ZCTA5 41729,100.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ZCTA5 08808,100.0,0.0,0.0,0.0,0.0,0.0,0.0
6,ZCTA5 08095,100.0,0.0,0.0,0.0,0.0,0.0,0.0
7,ZCTA5 47123,100.0,0.0,0.0,0.0,0.0,0.0,0.0
8,ZCTA5 65246,100.0,0.0,0.0,0.0,0.0,0.0,0.0
9,ZCTA5 04227,100.0,0.0,0.0,0.0,0.0,0.0,0.0

### Income

In [40]:
%%bigquery
create table acs_2018_modeled.Income as 
select NAME,
cast(replace(DP03_0052PE, '-', '0') as FLOAT64) as DP03_0052PE, 
cast(replace(DP03_0053PE, '-', '0') as FLOAT64) as DP03_0053PE,
cast(replace(DP03_0054PE, '-', '0') as FLOAT64) as DP03_0054PE,
cast(replace(DP03_0055PE, '-', '0') as FLOAT64) as DP03_0055PE,
cast(replace(DP03_0056PE, '-', '0') as FLOAT64) as DP03_0056PE,
cast(replace(DP03_0057PE, '-', '0') as FLOAT64) as DP03_0057PE,
cast(replace(DP03_0058PE, '-', '0') as FLOAT64) as DP03_0058PE,
cast(replace(DP03_0059PE, '-', '0') as FLOAT64) as DP03_0059PE,
cast(replace(DP03_0060PE, '-', '0') as FLOAT64) as DP03_0060PE,
cast(replace(DP03_0061PE, '-', '0') as FLOAT64) as DP03_0061PE
from acs_2018_staging.economics

Empty DataFrame
Columns: []
Index: []

In [44]:
%%bigquery
select NAME, DP03_0052PE as Income_less_10K, DP03_0053PE as Income_10K_14K, DP03_0054PE as Income_15K_24K, DP03_0055PE as Income_25K_34K, 
DP03_0056PE as Income_35K_49K, DP03_0057PE as Income_50K_74K, DP03_0058PE as Income_75K_99K, DP03_0059PE as Income_100K_149K, 
DP03_0060PE as Income_150K_199K, DP03_0061PE as Income_200K_more
from acs_2018_modeled.Income
where DP03_0052PE < 90 and DP03_0061PE < 70
order by DP03_0052PE desc
limit 10

,NAME,Income_less_10K,Income_10K_14K,Income_15K_24K,Income_25K_34K,Income_35K_49K,Income_50K_74K,Income_75K_99K,Income_100K_149K,Income_150K_199K,Income_200K_more
0,ZCTA5 78871,83.3,0.0,0.0,16.7,0.0,0.0,0.0,0.0,0.0,0.0
1,ZCTA5 22904,79.7,0.0,0.0,0.0,6.8,13.6,0.0,0.0,0.0,0.0
2,ZCTA5 59842,76.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.1
3,ZCTA5 59863,76.7,0.0,0.0,0.0,0.0,23.3,0.0,0.0,0.0,0.0
4,ZCTA5 62070,75.7,0.0,0.0,0.0,0.0,0.0,24.3,0.0,0.0,0.0
5,ZCTA5 83322,75.0,0.0,0.0,0.0,12.5,0.0,0.0,0.0,0.0,12.5
6,ZCTA5 64147,72.7,9.3,9.3,8.7,0.0,0.0,0.0,0.0,0.0,0.0
7,ZCTA5 88053,72.0,0.0,6.8,0.0,0.0,6.1,9.8,0.0,0.0,5.3
8,ZCTA5 99774,71.4,0.0,0.0,28.6,0.0,0.0,0.0,0.0,0.0,0.0
9,ZCTA5 95699,70.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0

## Tables from Original Work Table

### Work Stats

In [46]:
%%bigquery
create table acs_2018_modeled.Work_Stats as
select NAME,
cast(replace(replace(S2303_C01_031E, '-', '0'), 'N', '0') as FLOAT64) as S2303_C01_031E,
cast(replace(replace(S2303_C01_032E, '-', '0'), 'N', '0') as FLOAT64) as S2303_C01_032E,
S2303_C01_033E 
from acs_2018_staging.work

Empty DataFrame
Columns: []
Index: []

### Working Hours Per Week

In [47]:
%%bigquery
create table acs_2018_modeled.Working_Hours_Per_Week as
select NAME,
S2303_C01_009E,
S2303_C01_016E,
S2303_C01_023E,
S2303_C01_030E 
from acs_2018_staging.work

Empty DataFrame
Columns: []
Index: []

In [48]:
%%bigquery
select NAME, S2303_C01_009E as Work_35h_or_more, S2303_C01_016E as Work_16h_to_34h, S2303_C01_023E as Work_1h_to_15h, S2303_C01_030E as No_working 
from acs_2018_modeled.Working_Hours_Per_Week
where S2303_C01_009E is not null
order by NAME
limit 20

           NAME  Work_35h_or_more  Work_16h_to_34h  Work_1h_to_15h  No_working
0   ZCTA5 00601              2630             1084             275        6931
1   ZCTA5 00602              6806             4600             523       13476
2   ZCTA5 00603              9051             3559             495       17404
3   ZCTA5 00606               780              566              59        2802
4   ZCTA5 00610              5620             2831             437        8539
5   ZCTA5 00612             11233             4411             856       20742
6   ZCTA5 00616              2233              777             243        3819
7   ZCTA5 00617              4688             1488              69        8812
8   ZCTA5 00622              1080              156              11        2496
9   ZCTA5 00623              7150             3563             354       15290
10  ZCTA5 00624              4157             1749             449        8142
11  ZCTA5 00627              5789             2542             368       11978
12  ZCTA5 00631               253              164               0         510
13  ZCTA5 00637              3978             1593             347        8124
14  ZCTA5 00638              2454              847              85        6957
15  ZCTA5 00641              4360             1775             542       10740
16  ZCTA5 00646              9184             2255             587       12159
17  ZCTA5 00647               518              476              64        2081
18  ZCTA5 00650              2588             1178             363        5318
19  ZCTA5 00652               558              355              46        1306

### Working Weeks Per Year

In [49]:
%%bigquery
create table acs_2018_modeled.Working_Weeks_Per_Year as
select NAME,
S2303_C01_002E,  
S2303_C01_003E, 
S2303_C01_004E, 
S2303_C01_005E, 
S2303_C01_006E, 
S2303_C01_007E, 
S2303_C01_008E, 
from acs_2018_staging.work

Empty DataFrame
Columns: []
Index: []

## Table from Original Housing Table

### Housing Unit Status

In [2]:
%%bigquery
create table acs_2018_modeled.Housing_Unit_Status as
select distinct NAME, DP04_0001E, 
cast(replace(DP04_0002PE, '-', '0') as FLOAT64) as DP04_0002PE, 
cast(replace(DP04_0003PE, '-', '0') as FLOAT64) as DP04_0003PE,
DP04_0006E
from acs_2018_staging.housing
where NAME is not null

Empty DataFrame
Columns: []
Index: []

### Housing Unit

In [3]:
%%bigquery
create table acs_2018_modeled.Housing_Unit as
select distinct NAME, 
cast(replace(DP04_0007PE, '-', '0') as FLOAT64) as DP04_0007PE, 
cast(replace(DP04_0008PE, '-', '0') as FLOAT64) as DP04_0008PE,
cast(replace(DP04_0009PE, '-', '0') as FLOAT64) as DP04_0009PE, 
cast(replace(DP04_0010PE, '-', '0') as FLOAT64) as DP04_0010PE, 
cast(replace(DP04_0011PE, '-', '0') as FLOAT64) as DP04_0011PE, 
cast(replace(DP04_0012PE, '-', '0') as FLOAT64) as DP04_0012PE,
cast(replace(DP04_0013PE, '-', '0') as FLOAT64) as DP04_0013PE, 
cast(replace(DP04_0014PE, '-', '0') as FLOAT64) as DP04_0014PE, 
cast(replace(DP04_0015PE, '-', '0') as FLOAT64) as DP04_0015PE
from acs_2018_staging.housing
where NAME is not null

Empty DataFrame
Columns: []
Index: []

### Built Year

In [4]:
%%bigquery
create table acs_2018_modeled.Built_year as
select distinct NAME, 
cast(replace(DP04_0017PE, '-', '0') as FLOAT64) as DP04_0017PE, 
cast(replace(DP04_0018PE, '-', '0') as FLOAT64) as DP04_0018PE,
cast(replace(DP04_0019PE, '-', '0') as FLOAT64) as DP04_0019PE, 
cast(replace(DP04_0020PE, '-', '0') as FLOAT64) as DP04_0020PE, 
cast(replace(DP04_0021PE, '-', '0') as FLOAT64) as DP04_0021PE, 
cast(replace(DP04_0022PE, '-', '0') as FLOAT64) as DP04_0022PE,
cast(replace(DP04_0023PE, '-', '0') as FLOAT64) as DP04_0023PE, 
cast(replace(DP04_0024PE, '-', '0') as FLOAT64) as DP04_0024PE, 
cast(replace(DP04_0025PE, '-', '0') as FLOAT64) as DP04_0025PE, 
cast(replace(DP04_0026PE, '-', '0') as FLOAT64) as DP04_0026PE
from acs_2018_staging.housing
where NAME is not null

Empty DataFrame
Columns: []
Index: []

In [10]:
%%bigquery
select distinct NAME, DP04_0017PE as Built_2014_Or_Later, DP04_0018PE as Built_2010_2013,
DP04_0019PE as Built_2000_2009, DP04_0020PE as Built_1990_1999, DP04_0021PE as Built_1980_1989,
DP04_0022PE as Built_1970_1979, DP04_0023PE as Built_1960_1969, DP04_0024PE as Built_1950_1959,
DP04_0025PE as Built_1940_1949, DP04_0026PE as Built_1939_Or_After
from acs_2018_modeled.Built_year
order by NAME
limit 20

,NAME,Built_2014_Or_Later,Built_2010_2013,Built_2000_2009,Built_1990_1999,Built_1980_1989,Built_1970_1979,Built_1960_1969,Built_1950_1959,Built_1940_1949,Built_1939_Or_After
0,ZCTA5 00601,1.0,1.0,12.7,17.5,21.4,22.6,10.1,8.9,2.0,2.6
1,ZCTA5 00602,0.0,0.3,8.4,14.2,23.1,32.0,15.6,4.5,1.5,0.4
2,ZCTA5 00603,0.1,0.7,15.6,13.8,17.6,16.9,13.7,12.6,6.8,2.3
3,ZCTA5 00606,0.0,0.8,11.5,26.1,9.6,19.8,10.7,8.5,5.2,7.7
4,ZCTA5 00610,0.1,0.0,11.5,15.7,20.1,26.6,16.0,7.3,2.1,0.6
5,ZCTA5 00612,0.0,0.3,16.0,13.6,14.3,22.4,17.8,9.1,3.5,3.0
6,ZCTA5 00616,0.0,1.1,24.2,14.4,21.8,21.2,7.4,4.7,3.3,1.9
7,ZCTA5 00617,0.0,0.6,16.7,18.8,15.7,25.4,17.1,4.2,0.2,1.1
8,ZCTA5 00622,0.9,1.9,22.2,35.3,19.6,12.4,4.8,2.6,0.2,0.2
9,ZCTA5 00623,0.3,1.0,15.6,25.8,19.6,26.1,6.3,3.8,1.0,0.5
10,ZCTA5 00624,0.4,1.2,12.3,20.2,21.7,24.4,9.3,4.7,2.7,3.2
11,ZCTA5 00627,0.2,1.0,16.3,16.9,21.0,17.9,15.2,8.4,1.4,1.8
12,ZCTA5 00631,0.0,4.8,6.2,10.3,23.2,26.8,8.0,4.7,2.8,13.1
13,ZCTA5 00637,0.1,1.1,4.4,19.5,25.6,27.0,12.5,7.0,1.4,1.4
14,ZCTA5 00638,0.0,1.4,8.1,18.7,19.6,22.2,12.2,11.2,4.2,2.4
15,ZCTA5 00641,0.0,0.6,11.1,17.5,18.9,26.9,15.8,4.5,3.7,1.0
16,ZCTA5 00646,0.0,2.6,21.8,16.0,19.3,21.6,10.9,4.5,1.7,1.5
17,ZCTA5 00647,0.3,1.3,7.6,15.0,27.4,30.3,12.4,1.7,2.3,1.8
18,ZCTA5 00650,1.0,0.0,21.1,18.7,16.0,25.0,11.5,5.3,1.2,0.2
19,ZCTA5 00652,0.0,1.5,24.2,19.9,14.7,10.9,14.7,12.9,0.7,0.5

### Housing Value

In [5]:
%%bigquery
create table acs_2018_modeled.Housing_Value as
select distinct NAME, 
cast(replace(DP04_0081PE, '-', '0') as FLOAT64) as DP04_0081PE, 
cast(replace(DP04_0082PE, '-', '0') as FLOAT64) as DP04_0082PE,
cast(replace(DP04_0083PE, '-', '0') as FLOAT64) as DP04_0083PE, 
cast(replace(DP04_0084PE, '-', '0') as FLOAT64) as DP04_0084PE, 
cast(replace(DP04_0085PE, '-', '0') as FLOAT64) as DP04_0085PE, 
cast(replace(DP04_0086PE, '-', '0') as FLOAT64) as DP04_0086PE,
cast(replace(DP04_0087PE, '-', '0') as FLOAT64) as DP04_0087PE, 
cast(replace(DP04_0088PE, '-', '0') as FLOAT64) as DP04_0088PE
from acs_2018_staging.housing
where NAME is not null

Empty DataFrame
Columns: []
Index: []

## Table from Original School Enrollment Table

### General School Enrollment

In [6]:
%%bigquery
create table acs_2018_modeled.General_School_Enrollment as
select distinct NAME, 
S1401_C01_004E, 
S1401_C01_005E, 
S1401_C01_006E, 
S1401_C01_007E, 
S1401_C01_008E,
S1401_C01_009E
from acs_2018_staging.school_enrollment
where NAME is not null

Empty DataFrame
Columns: []
Index: []

### Private and Public School Enrollment

In [7]:
%%bigquery
create table acs_2018_modeled.PrivatePublic_School_Enrollment as
select distinct NAME, 
S1401_C03_008E, 
S1401_C05_008E,
S1401_C03_009E, 
S1401_C05_009E
from acs_2018_staging.school_enrollment
where NAME is not null

Empty DataFrame
Columns: []
Index: []

In [9]:
%%bigquery
select distinct NAME, S1401_C03_008E as College_Undergrad_Public, S1401_C05_008E as College_Undergrad_Private,
S1401_C03_009E as Grad_HigherEdu_Public, S1401_C05_009E as Grad_HigherEdu_Private 
from acs_2018_modeled.PrivatePublic_School_Enrollment
order by NAME
limit 20

,NAME,College_Undergrad_Public,College_Undergrad_Private,Grad_HigherEdu_Public,Grad_HigherEdu_Private
0,ZCTA5 00601,348,621,17,59
1,ZCTA5 00602,1116,1504,0,208
2,ZCTA5 00603,1281,1322,108,212
3,ZCTA5 00606,77,291,0,14
4,ZCTA5 00610,719,862,47,126
5,ZCTA5 00612,1474,2201,136,381
6,ZCTA5 00616,323,377,0,85
7,ZCTA5 00617,648,784,80,94
8,ZCTA5 00622,170,184,0,27
9,ZCTA5 00623,578,1808,68,243
10,ZCTA5 00624,506,983,18,178
11,ZCTA5 00627,1077,918,121,208
12,ZCTA5 00631,9,0,12,0
13,ZCTA5 00637,675,509,92,83
14,ZCTA5 00638,282,420,0,42
15,ZCTA5 00641,822,798,16,42
16,ZCTA5 00646,829,1133,49,428
17,ZCTA5 00647,248,64,23,0
18,ZCTA5 00650,416,484,0,33
19,ZCTA5 00652,42,138,0,0

# Process Data with Beam

## Income

In [4]:
% run income_beam.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'acs_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Income'> referenced by query SELECT NAME, DP03_0052PE, DP03_0053PE, DP03_0054PE, DP03_0055PE, DP03_0056PE, DP03_0057PE, DP03_0058PE, DP03_0059PE, DP03_0060PE, DP03_0061PE FROM acs_2018_modeled.Income where DP03_0052PE > 10 and DP03_0056PE > 10 and DP03_0059PE is not null limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sashimi-266523:temp_dataset_4dfeb767b3d24fc3b603dc44a7cd987c does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.gcp.bigquery_tools:Created table sashimi-266523.acs_2018_modeled.Income_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'NAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_Less_10k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_10k_14k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_15k_24k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_25k_34k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_35k_49k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_50k_74k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_75k_99k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_100k_149k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_150k_199k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_200k_More'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Lowest'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Lower_Middle'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Middle'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Upper_Middle'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Rich'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Predominant_Class'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Average'
 type: 'FLOAT'>]>. Result: <Table
 creationTime: 1583087556705
 etag: 'kNpTEswAblXymw8yW2OwoQ=='
 id: 'sashimi-266523:acs_2018_modeled.Income_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583087556753
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'NAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_Less_10k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_10k_14k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_15k_24k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_25k_34k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_35k_49k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_50k_74k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_75k_99k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_100k_149k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_150k_199k'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Income_200k_More'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Lowest'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Lower_Middle'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Middle'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Upper_Middle'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Rich'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Predominant_Class'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Average'
 type: 'FLOAT'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sashimi-266523/datasets/acs_2018_modeled/tables/Income_Beam'
 tableReference: <TableReference
 datasetId: 'acs_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Income_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.

In [5]:
%%bigquery
select *
from acs_2018_modeled.Income_Beam
where NAME is not null
limit 20

,NAME,Income_Less_10k,Income_10k_14k,Income_15k_24k,Income_25k_34k,Income_35k_49k,Income_50k_74k,Income_75k_99k,Income_100k_149k,Income_150k_199k,Income_200k_More,Lowest,Lower_Middle,Middle,Upper_Middle,Rich,Predominant_Class,Average
0,ZCTA5 38569,39.7,0.0,9.0,0.0,28.2,12.8,0.0,0.0,0.0,10.3,48.7,28.2,12.8,0.0,10.3,Lowest,19.7080
1,ZCTA5 26572,21.3,0.0,42.6,0.0,14.8,0.0,0.0,21.3,0.0,0.0,63.9,14.8,0.0,21.3,0.0,Lowest,16.8426
2,ZCTA5 22820,25.2,0.0,0.0,0.0,39.3,28.0,0.0,7.5,0.0,0.0,25.2,39.3,28.0,7.5,0.0,Lower_Middle,17.7854
3,ZCTA5 77334,14.9,0.0,0.0,0.0,85.1,0.0,0.0,0.0,0.0,0.0,14.9,85.1,0.0,0.0,0.0,Lower_Middle,14.5948
4,ZCTA5 17606,33.0,0.0,21.7,0.0,18.7,26.5,0.0,0.0,0.0,0.0,54.7,18.7,26.5,0.0,0.0,Lowest,12.0662
5,ZCTA5 64639,19.8,10.9,13.9,0.0,10.9,18.8,13.9,11.9,0.0,0.0,44.6,10.9,32.7,11.9,0.0,Lowest,19.2604
6,ZCTA5 63566,10.3,0.0,20.5,0.0,20.5,48.7,0.0,0.0,0.0,0.0,30.8,20.5,48.7,0.0,0.0,Middle,17.3266
7,ZCTA5 29062,48.2,0.0,17.9,0.0,21.4,0.0,0.0,12.5,0.0,0.0,66.1,21.4,0.0,12.5,0.0,Lowest,12.1804
8,ZCTA5 23076,19.2,5.5,0.0,0.0,21.8,10.1,7.1,17.5,0.0,18.8,24.7,21.8,17.2,17.5,18.8,Lowest,36.8010
9,ZCTA5 96049,30.8,0.0,11.5,0.0,30.8,15.4,11.5,0.0,0.0,0.0,42.3,30.8,26.9,0.0,0.0,Lowest,14.5086
10,ZCTA5 26438,21.0,10.5,21.0,0.0,13.3,22.9,0.0,11.4,0.0,0.0,52.5,13.3,22.9,11.4,0.0,Lowest,16.1528
11,ZCTA5 41214,28.2,5.5,13.4,0.0,15.5,23.1,9.2,5.0,0.0,0.0,47.1,15.5,32.3,5.0,0.0,Lowest,15.8976
12,ZCTA5 26136,15.7,0.0,29.1,0.0,11.0,15.1,21.1,8.0,0.0,0.0,44.8,11.0,36.2,8.0,0.0,Lowest,19.5034
13,ZCTA5 43117,42.4,0.0,0.0,0.0,11.9,0.0,0.0,45.8,0.0,0.0,42.4,11.9,0.0,45.8,0.0,Upper_Middle,25.6556
14,ZCTA5 24246,15.2,0.0,48.5,0.0,16.3,20.0,0.0,0.0,0.0,0.0,63.7,16.3,20.0,0.0,0.0,Lowest,11.7854
15,ZCTA5 92341,45.8,0.0,9.3,0.0,12.7,5.9,16.9,0.0,0.0,9.3,55.1,12.7,22.8,0.0,9.3,Lowest,20.4194
16,ZCTA5 40171,21.6,54.9,0.0,0.0,10.8,12.7,0.0,0.0,0.0,0.0,76.5,10.8,12.7,0.0,0.0,Lowest,8.0312
17,ZCTA5 96136,44.4,11.1,0.0,0.0,44.4,0.0,0.0,0.0,0.0,0.0,55.5,44.4,0.0,0.0,0.0,Lowest,8.8800
18,ZCTA5 04925,15.8,5.3,5.3,0.0,18.4,15.8,28.9,10.5,0.0,0.0,26.4,18.4,44.7,10.5,0.0,Middle,23.2796
19,ZCTA5 14756,24.4,0.0,0.0,0.0,55.6,0.0,0.0,20.0,0.0,0.0,24.4,55.6,0.0,20.0,0.0,Lower_Middle,19.7888

## Labor_Force_Stats

In [1]:
%run Labor_Force_Stats_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'acs_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Labor_Force_Stats'> referenced by query SELECT * FROM acs_2018_modeled.Labor_Force_Stats limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sashimi-266523:temp_dataset_e8c9fcb5cbc44f039e2560dd0b280103 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sashimi-266523.acs_2018_modeled.Labor_Force_Stats_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'NAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Labor_Force'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Civilian_Labor_Force_Employed'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Civilian_Labor_Force_Unemployed'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Children_In_HouseHold'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583723043874
 etag: 'C3Q8fB2C2fiseqfv2TClYg=='
 id: 'sashimi-266523:acs_2018_modeled.Labor_Force_Stats_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583723043911
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'NAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Labor_Force'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Civilian_Labor_Force_Employed'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Civilian_Labor_Force_Unemployed'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Children_In_HouseHold'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sashimi-266523/datasets/acs_2018_modeled/tables/Labor_Force_Stats_Beam'
 tableReference: <TableReference
 datasetId: 'acs_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Labor_Force_Stats_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.11 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [2]:
%%bigquery
select *
from acs_2018_modeled.Labor_Force_Stats_Beam
where NAME is not null
limit 20

,NAME,Labor_Force,Civilian_Labor_Force_Employed,Civilian_Labor_Force_Unemployed,Children_In_HouseHold
0,ZCTA5 87419,0.0,0.0,0.0,0
1,ZCTA5 87532,0.0,0.0,0.0,0
2,ZCTA5 87581,0.0,0.0,0.0,0
3,ZCTA5 41762,0.0,0.0,0.0,0
4,ZCTA5 87523,0.0,0.0,0.0,0
5,ZCTA5 87548,0.0,0.0,0.0,0
6,ZCTA5 18105,0.0,0.0,0.0,0
7,ZCTA5 06160,0.0,0.0,0.0,0
8,ZCTA5 20593,0.0,0.0,0.0,0
9,ZCTA5 87511,0.0,0.0,0.0,0
10,ZCTA5 87520,0.0,0.0,0.0,0
11,ZCTA5 87064,0.0,0.0,0.0,0
12,ZCTA5 87412,0.0,0.0,0.0,0
13,ZCTA5 87539,0.0,0.0,0.0,0
14,ZCTA5 87530,0.0,0.0,0.0,0
15,ZCTA5 87578,0.0,0.0,0.0,0
16,ZCTA5 87551,0.0,0.0,0.0,0
17,ZCTA5 87582,0.0,0.0,0.0,0
18,ZCTA5 15260,0.0,0.0,0.0,0
19,ZCTA5 87554,0.0,0.0,0.0,0

## Labor_In_Industry

In [3]:
%run Labor_In_Industry_beam.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'acs_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Labor_In_Industry'> referenced by query SELECT NAME, DP03_0033E, DP03_0034E, DP03_0035E, DP03_0036E, DP03_0037E, DP03_0038E, DP03_0039E, DP03_0040E, DP03_0041E, DP03_0042E, DP03_0043E, DP03_0045E FROM acs_2018_modeled.Labor_In_Industry where DP03_0033E > 10 and DP03_0034E > 10 limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sashimi-266523:temp_dataset_a238aef400de4f52bd8dab967dcce7fb does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.gcp.bigquery_tools:Created table sashimi-266523.acs_2018_modeled.Labor_In_Industry_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'NAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Agriculture'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Construction'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Manufacturing'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Wholesale'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Retail'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Transportation'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Information'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Finance_Real_Estate'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Professional_Scientific_Management'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Educational_Health_Care'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Art_Entertainment'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Public_Administration'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Predominant_Industry_First'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Predominant_Industry_Second'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Predominant_Industry_Third'
 type: 'STRING'>]>. Result: <Table
 creationTime: 1583723306640
 etag: 'tpJ15TTyL8yH4KXbJzx3gQ=='
 id: 'sashimi-266523:acs_2018_modeled.Labor_In_Industry_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583723306680
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'NAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Agriculture'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Construction'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Manufacturing'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Wholesale'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Retail'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Transportation'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Information'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Finance_Real_Estate'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Professional_Scientific_Management'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Educational_Health_Care'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Art_Entertainment'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Public_Administration'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Predominant_Industry_First'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Predominant_Industry_Second'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Predominant_Industry_Third'
 type: 'STRING'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sashimi-266523/datasets/acs_2018_modeled/tables/Labor_In_Industry_Beam'
 tableReference: <TableReference
 datasetId: 'acs_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Labor_In_Industry_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.

In [4]:
%%bigquery
select *
from acs_2018_modeled.Labor_In_Industry_Beam
where NAME is not null
limit 20

,NAME,Agriculture,Construction,Manufacturing,Wholesale,Retail,Transportation,Information,Finance_Real_Estate,Professional_Scientific_Management,Educational_Health_Care,Art_Entertainment,Public_Administration,Predominant_Industry_First,Predominant_Industry_Second,Predominant_Industry_Third
0,ZCTA5 96710,19,28,0,0,0,27,0,0,0,6,14,24,Construction,Transportation,Public_Administration
1,ZCTA5 71660,65,47,64,0,0,69,0,31,0,125,0,35,Educational_Health_Care,Transportation,Agriculture
2,ZCTA5 26443,33,30,16,0,0,0,0,0,0,42,0,0,Educational_Health_Care,Agriculture,Construction
3,ZCTA5 42069,15,64,52,0,0,0,0,0,54,80,56,9,Educational_Health_Care,Construction,Art_Entertainment
4,ZCTA5 45789,28,46,0,0,0,0,0,0,0,48,0,28,Educational_Health_Care,Construction,Public_Administration
5,ZCTA5 65660,15,36,0,0,0,9,0,0,0,34,0,0,Construction,Educational_Health_Care,Agriculture
6,ZCTA5 63763,23,11,0,0,0,0,0,0,0,18,0,0,Agriculture,Educational_Health_Care,Construction
7,ZCTA5 96006,55,24,0,0,0,0,0,3,13,21,0,15,Agriculture,Construction,Educational_Health_Care
8,ZCTA5 72374,57,43,0,0,0,30,0,0,0,93,0,30,Educational_Health_Care,Agriculture,Construction
9,ZCTA5 95595,15,11,13,0,0,14,0,5,0,15,9,0,Educational_Health_Care,Agriculture,Transportation
10,ZCTA5 79847,21,15,0,0,0,0,0,11,9,0,8,0,Agriculture,Construction,Finance_Real_Estate
11,ZCTA5 95629,26,44,25,0,0,25,0,15,70,77,12,104,Public_Administration,Educational_Health_Care,Professional_Scientific_Management
12,ZCTA5 75412,32,43,51,0,0,16,0,0,20,114,0,14,Educational_Health_Care,Manufacturing,Construction
13,ZCTA5 03883,16,14,0,0,0,0,0,0,0,18,15,0,Educational_Health_Care,Agriculture,Art_Entertainment
14,ZCTA5 95488,16,15,0,0,0,0,0,10,0,28,30,0,Art_Entertainment,Educational_Health_Care,Agriculture
15,ZCTA5 73440,11,15,23,0,0,10,0,0,0,20,0,11,Manufacturing,Educational_Health_Care,Construction
16,ZCTA5 67733,17,21,40,0,0,9,0,0,0,18,6,3,Manufacturing,Construction,Educational_Health_Care
17,ZCTA5 93665,68,79,45,0,0,0,0,0,0,0,0,0,Construction,Agriculture,Manufacturing
18,ZCTA5 83013,56,39,2,0,0,0,0,1,0,1,170,0,Art_Entertainment,Agriculture,Construction
19,ZCTA5 71401,51,79,0,0,0,0,0,0,0,29,0,0,Construction,Agriculture,Educational_Health_Care

## Commute

In [2]:
% run Commute_beam.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'acs_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Commute'> referenced by query SELECT NAME, DP03_0019PE, DP03_0020PE, DP03_0021PE, DP03_0022PE, DP03_0023PE, DP03_0024PE, DP03_0025E FROM acs_2018_modeled.Commute limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sashimi-266523:temp_dataset_9c1fa5a041a44314805b288467685b00 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sashimi-266523.acs_2018_modeled.Commute_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'NAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Drive_Alone'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Carpooled'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Public_Transportation'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Walking'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Others'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_From_Home'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Mean_Travel_Time_To_Work'
 type: 'FLOAT'>]>. Result: <Table
 creationTime: 1583724500345
 etag: 'XUDFsnw5yvpUogjH0NDe+A=='
 id: 'sashimi-266523:acs_2018_modeled.Commute_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583724500381
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'NAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Drive_Alone'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Carpooled'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Public_Transportation'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Walking'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Others'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_From_Home'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Mean_Travel_Time_To_Work'
 type: 'FLOAT'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sashimi-266523/datasets/acs_2018_modeled/tables/Commute_Beam'
 tableReference: <TableReference
 datasetId: 'acs_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Commute_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [3]:
%%bigquery
select *
from acs_2018_modeled.Commute_Beam
where NAME is not null
limit 20

,NAME,Drive_Alone,Carpooled,Public_Transportation,Walking,Others,Work_From_Home,Mean_Travel_Time_To_Work
0,ZCTA5 11424,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ZCTA5 40049,0.0,0.0,0.0,100.0,0.0,0.0,0.0
2,ZCTA5 87523,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ZCTA5 87532,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ZCTA5 87539,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ZCTA5 87582,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,ZCTA5 87046,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,ZCTA5 87412,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,ZCTA5 87566,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,ZCTA5 87531,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,ZCTA5 31213,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,ZCTA5 87012,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,ZCTA5 87750,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,ZCTA5 83227,0.0,0.0,0.0,100.0,0.0,0.0,0.0
14,ZCTA5 87533,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,ZCTA5 87029,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,ZCTA5 87522,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,ZCTA5 87064,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,ZCTA5 87510,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,ZCTA5 87528,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Working_Weeks_Per_Year

In [29]:
% run Working_Weeks_Per_Year_beam.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'acs_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Working_Weeks_Per_Year'> referenced by query SELECT * FROM acs_2018_modeled.Working_Weeks_Per_Year limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sashimi-266523:temp_dataset_71efb3e9cd1c418091e93bff0d29bb86 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sashimi-266523.acs_2018_modeled.Working_Weeks_Per_Year_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'NAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_50_to_52_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_48_to_49_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_40_to_47_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_27_to_39_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_14_to_26_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_1_to_13_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'No_working'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583729278903
 etag: '5IUGA47fY7lqjSSZLgLW2Q=='
 id: 'sashimi-266523:acs_2018_modeled.Working_Weeks_Per_Year_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583729278938
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'NAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_50_to_52_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_48_to_49_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_40_to_47_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_27_to_39_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_14_to_26_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'Work_1_to_13_weeks'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'No_working'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sashimi-266523/datasets/acs_2018_modeled/tables/Working_Weeks_Per_Year_Beam'
 tableReference: <TableReference
 datasetId: 'acs_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Working_Weeks_Per_Year_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [30]:
%%bigquery
select *
from acs_2018_modeled.Working_Weeks_Per_Year_Beam
where NAME is not null
limit 20

,NAME,Work_50_to_52_weeks,Work_48_to_49_weeks,Work_40_to_47_weeks,Work_27_to_39_weeks,Work_14_to_26_weeks,Work_1_to_13_weeks,No_working
0,ZCTA5 87510,0,0,0,0,0,0,0
1,ZCTA5 56577,2,0,0,2,0,0,0
2,ZCTA5 49261,71,0,0,0,19,0,14
3,ZCTA5 87521,0,0,0,0,0,0,0
4,ZCTA5 74567,15,0,0,8,0,0,6
5,ZCTA5 87578,0,0,0,0,0,0,0
6,ZCTA5 57634,82,0,0,0,0,0,11
7,ZCTA5 87577,0,0,0,0,0,0,0
8,ZCTA5 87046,0,0,0,0,0,0,0
9,ZCTA5 87412,0,0,0,0,0,0,0
10,ZCTA5 87554,0,0,0,0,0,0,0
11,ZCTA5 87551,0,0,0,0,0,0,0
12,ZCTA5 52066,18,0,0,0,0,0,16
13,ZCTA5 87523,0,0,0,0,0,0,0
14,ZCTA5 49894,233,0,0,37,18,9,90
15,ZCTA5 87528,0,0,0,0,0,0,0
16,ZCTA5 87515,0,0,0,0,0,0,0
17,ZCTA5 87530,0,0,0,0,0,0,0
18,ZCTA5 73720,70,0,0,8,3,12,3
19,ZCTA5 87013,0,0,0,0,0,0,0

## Working_Hours_Per_Week

In [ ]:
% run Working_Hours_Per_Week_beam.py

In [ ]:
%%bigquery
select *
from acs_2018_modeled.Working_Hours_Per_Week_Beam
where NAME is not null
limit 20

## Work_Stats

In [ ]:
% run Work_Stats_beam.py

In [ ]:
%%bigquery
select *
from acs_2018_modeled.Work_Stats_Beam
where NAME is not null
limit 20

## Housing_Unit

In [ ]:
% run Housing_Unit_beam.py

In [6]:
%%bigquery
select *
from acs_2018_modeled.Housing_Unit_Beam
where NAME is not null
limit 20

,NAME,Detached_Unit_1,Attached_Unit_1,Units_2,Units_3_to_4,Units_5_to_9,Units_10_to_19,Units_20_or_more,Mobile_Home,RV_Boat
0,ZCTA5 38765,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ZCTA5 95537,52.5,0.0,0.0,0.0,47.5,0.0,0.0,0.0,0.0
2,ZCTA5 82646,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ZCTA5 07082,89.0,7.6,1.2,0.0,0.5,0.5,1.1,0.0,0.0
4,ZCTA5 83277,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ZCTA5 93962,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,ZCTA5 98929,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,ZCTA5 56294,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,ZCTA5 94933,82.9,3.6,13.5,0.0,0.0,0.0,0.0,0.0,0.0
9,ZCTA5 16868,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,ZCTA5 80924,77.6,5.0,0.4,0.0,1.6,3.5,11.9,0.0,0.0
11,ZCTA5 07418,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,ZCTA5 28310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,ZCTA5 02791,93.2,0.0,6.8,0.0,0.0,0.0,0.0,0.0,0.0
14,ZCTA5 63155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,ZCTA5 98195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,ZCTA5 46987,93.9,0.9,5.3,0.0,0.0,0.0,0.0,0.0,0.0
17,ZCTA5 07458,84.2,6.6,0.7,0.0,2.6,0.3,5.6,0.0,0.0
18,ZCTA5 68952,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,ZCTA5 55054,89.2,0.0,4.8,0.0,0.0,0.0,6.1,0.0,0.0

## Housing_Unit_Status

In [ ]:
% run Housing_Unit_Status_beam.py

In [7]:
%%bigquery
select *
from acs_2018_modeled.Housing_Unit_Status_Beam
where NAME is not null
limit 20

,NAME,Total_Housing_Units,Occupied_Housing_Units,Vacant_Housing_Units
0,ZCTA5 00687,11634,85.5,14.5
1,ZCTA5 00662,19250,73.5,26.5
2,ZCTA5 00650,5971,86.2,13.8
3,ZCTA5 00692,15245,76.2,23.8
4,ZCTA5 00601,7176,76.9,23.1
5,ZCTA5 00688,5156,83.1,16.9
6,ZCTA5 00612,29671,76.1,23.9
7,ZCTA5 00610,12405,71.4,28.6
8,ZCTA5 00714,8418,71.0,29.0
9,ZCTA5 00694,142,20.4,79.6
10,ZCTA5 00685,17969,78.1,21.9
11,ZCTA5 00669,11801,81.5,18.5
12,ZCTA5 00678,11418,79.1,20.9
13,ZCTA5 00677,9478,54.2,45.8
14,ZCTA5 00683,14994,74.8,25.2
15,ZCTA5 00623,20908,64.7,35.3
16,ZCTA5 00682,15292,77.8,22.2
17,ZCTA5 00638,7311,81.2,18.8
18,ZCTA5 00690,2930,80.9,19.1
19,ZCTA5 00603,24311,79.1,20.9

## Housing_Value

In [ ]:
% run Housing_Value_beam.py

In [8]:
%%bigquery
select *
from acs_2018_modeled.Housing_Value_Beam
where NAME is not null
limit 20

,NAME,Less_than_V50k,V50k_to_99k,V100k_to_149k,V150k_to_199k,V200k_to_399k,V400k_to_499k,V500k_to_999k,V1M_and_more,Low_Housing_Value,Middle_Housing_Value,High_Housing_Value
0,ZCTA5 39193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ZCTA5 76949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ZCTA5 77326,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0
3,ZCTA5 72367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ZCTA5 99020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ZCTA5 23884,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0
6,ZCTA5 90831,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,ZCTA5 70803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,ZCTA5 20617,0.0,0.0,0.0,0.0,30.2,67.5,2.2,0.0,0.0,97.7,2.2
9,ZCTA5 20630,0.0,27.7,0.0,0.0,28.7,24.5,19.1,0.0,27.7,53.2,19.1
10,ZCTA5 57421,0.0,37.5,28.1,34.4,0.0,0.0,0.0,0.0,100.0,0.0,0.0
11,ZCTA5 84056,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0
12,ZCTA5 19730,0.0,0.7,7.8,11.9,18.6,55.8,5.2,0.0,20.4,74.4,5.2
13,ZCTA5 71459,0.0,82.4,0.0,0.0,0.0,0.0,17.6,0.0,82.4,0.0,17.6
14,ZCTA5 12856,0.0,25.8,10.6,63.6,0.0,0.0,0.0,0.0,100.0,0.0,0.0
15,ZCTA5 88268,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0
16,ZCTA5 83322,0.0,0.0,0.0,0.0,12.5,87.5,0.0,0.0,0.0,100.0,0.0
17,ZCTA5 21031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,ZCTA5 17217,0.0,6.2,35.4,50.8,7.7,0.0,0.0,0.0,92.4,7.7,0.0
19,ZCTA5 10519,0.0,0.0,0.0,31.6,0.0,11.2,57.1,0.0,31.6,11.2,57.1

## Built_Year

In [ ]:
% run Built_Year_beam.py

In [9]:
%%bigquery
select *
from acs_2018_modeled.Built_Year_Beam
where NAME is not null
limit 20

,NAME,Built_2014_or_later,Built_2010_to_2013,Built_2000_to_2009,Built_1990_to_1999,Built_1980_to_1989,Built_1970_to_1979,Built_1960_to_1969,Built_1950_to_1959,Built_1940_to_1949,Built_1939_or_before
0,ZCTA5 99753,3.3,0.0,9.9,29.7,22.0,25.3,8.8,1.1,0.0,0.0
1,ZCTA5 79259,0.0,0.0,9.2,0.0,6.9,42.5,0.0,0.0,0.0,41.4
2,ZCTA5 31045,0.0,0.0,0.0,0.0,46.3,0.0,0.0,0.0,0.0,53.7
3,ZCTA5 40010,0.0,0.0,46.7,22.8,5.1,11.2,14.2,0.0,0.0,0.0
4,ZCTA5 28589,0.0,0.0,13.0,0.0,26.8,0.0,8.9,17.9,0.0,33.3
5,ZCTA5 94512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
6,ZCTA5 36913,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0
7,ZCTA5 24845,0.0,0.0,0.0,11.6,36.1,44.9,0.0,7.5,0.0,0.0
8,ZCTA5 55766,0.0,0.0,2.9,32.4,8.8,11.8,0.0,17.6,0.0,26.5
9,ZCTA5 70646,0.0,0.0,0.0,19.0,40.5,26.7,0.0,0.0,0.0,13.8
10,ZCTA5 59027,0.0,0.0,23.0,23.6,31.2,9.9,0.0,10.5,0.0,1.8
11,ZCTA5 58009,0.0,0.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0,50.0
12,ZCTA5 51565,0.0,0.0,6.6,10.5,6.1,2.2,13.8,11.0,0.0,49.7
13,ZCTA5 82229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
14,ZCTA5 15361,0.0,0.0,0.0,0.0,9.9,35.6,0.0,0.0,0.0,54.5
15,ZCTA5 25007,0.0,0.0,10.7,10.7,25.4,21.4,9.0,19.7,0.0,3.0
16,ZCTA5 24714,3.7,0.0,21.6,12.7,7.5,27.6,4.5,6.0,0.0,16.4
17,ZCTA5 08340,0.0,0.0,8.0,12.3,28.9,15.8,8.6,19.5,0.0,6.9
18,ZCTA5 29331,0.0,0.0,0.0,0.0,48.8,8.7,0.0,42.5,0.0,0.0
19,ZCTA5 85934,0.0,0.0,37.6,22.3,16.8,10.6,11.3,1.4,0.0,0.0

## General_School_Enrollment

In [ ]:
% run General_School_Enrollment_beam.py

In [10]:
%%bigquery
select *
from acs_2018_modeled.General_School_Enrollment_Beam
where NAME is not null
limit 20

,NAME,Kindergarden,Grade1_to_4,Grade5_to_8,Grade9_to_12,College_Undergrad,Grad_HigherEdu
0,ZCTA5 24606,0,0,0,26,0,0
1,ZCTA5 21824,0,0,0,0,0,0
2,ZCTA5 43970,0,0,0,15,0,0
3,ZCTA5 71711,0,0,0,0,16,0
4,ZCTA5 54561,0,0,0,0,0,0
5,ZCTA5 71862,0,0,0,27,0,0
6,ZCTA5 98950,0,0,44,18,0,0
7,ZCTA5 95679,0,18,0,0,0,0
8,ZCTA5 31067,0,12,5,9,0,0
9,ZCTA5 32061,0,0,33,71,0,0
10,ZCTA5 24962,0,0,1,9,0,0
11,ZCTA5 93554,0,0,0,0,0,0
12,ZCTA5 57779,0,0,0,0,0,0
13,ZCTA5 28392,0,104,22,21,94,0
14,ZCTA5 45428,0,0,0,0,5,0
15,ZCTA5 25904,0,0,31,10,36,0
16,ZCTA5 59740,0,0,23,27,0,0
17,ZCTA5 49834,0,23,15,42,3,0
18,ZCTA5 10278,0,0,0,0,0,0
19,ZCTA5 41712,0,0,32,58,7,0

## PrivatePublic_School_Enrollment

In [ ]:
% run PrivatePublic_School_Enrollment_beam.py

In [11]:
%%bigquery
select *
from acs_2018_modeled.PrivatePublic_School_Enrollment_Beam
where NAME is not null
limit 20

,NAME,College_Undergrad_Public,College_Undergrad_Private,Grad_HigherEdu_Public,Grad_HigherEdu_Private
0,ZCTA5 65501,0,0,0,0
1,ZCTA5 70787,0,0,0,0
2,ZCTA5 85343,0,0,0,0
3,ZCTA5 67474,0,0,0,0
4,ZCTA5 18413,0,0,0,0
5,ZCTA5 28702,0,0,0,0
6,ZCTA5 57559,0,0,0,0
7,ZCTA5 81243,0,0,0,0
8,ZCTA5 31821,0,0,0,0
9,ZCTA5 57321,0,0,0,0
10,ZCTA5 12741,0,0,0,3
11,ZCTA5 87032,0,0,0,0
12,ZCTA5 90743,0,0,0,0
13,ZCTA5 04286,0,0,0,0
14,ZCTA5 72181,0,0,0,0
15,ZCTA5 15723,0,0,0,0
16,ZCTA5 25628,0,0,0,0
17,ZCTA5 62876,0,1,0,0
18,ZCTA5 77880,0,0,0,0
19,ZCTA5 46381,0,0,0,0

# Process Data With Dataflow

## Income

In [9]:
% run Income_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/income-df.1584121115.411103/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/income-df.1584121115.411103/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpkdejnuv2', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://sashimi-sushi/staging/income-df.1584121115.411103/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/income-df.1584121115.411103/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/income-df.1584121115.411103/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpkdejnuv2', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://sashimi-sushi/staging/income-df.1584121115.411103/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/income-df.1584121115.411103/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/income-df.1584121115.411103/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-13T17:38:42.764253Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-13_10_38_39-7812845776127304069'
 location: 'us-central1'
 name: 'income-df'
 projectId: 'sashimi-266523'
 stageStates: []
 startTime: '2020-03-13T17:38:42.764253Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-13_10_38_39-7812845776127304069]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-13_10_38_39-7812845776127304069?project=sashimi-266523
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_10_38_39-7812845776127304069 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:40.024Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-13_10_38_39-7812845776127304069.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:40.024Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-13_10_38_39-7812845776127304069. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:45.195Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:45.762Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-b.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.322Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.357Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record processed data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.399Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record original data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.441Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.475Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.578Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.865Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.886Z: JOB_MESSAGE_DETAILED: Fusing consumer Format income into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.915Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.951Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/WriteBundles/WriteBundles into Classify income and social-econ status
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:46.982Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Classify income and social-econ status
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.021Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Pair into Record original data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.055Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record original data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.082Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Reify into Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.107Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Write into Record original data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.136Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/GroupByWindow into Record original data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.158Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Extract into Record original data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.194Z: JOB_MESSAGE_DETAILED: Fusing consumer Classify income and social-econ status into Format income
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.228Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/Pair into Record processed data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.259Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record processed data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.294Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/GroupByKey/Reify into Record processed data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.329Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/GroupByKey/Write into Record processed data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.363Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/GroupByKey/GroupByWindow into Record processed data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.396Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/Extract into Record processed data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.429Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/InitializeWrite into Record original data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.516Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/InitializeWrite into Record processed data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.547Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.576Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.611Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.648Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:47.980Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:48.059Z: JOB_MESSAGE_BASIC: Executing operation Record processed data/Write/WriteImpl/DoOnce/Read+Record processed data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:48.095Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:48.098Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:48.132Z: JOB_MESSAGE_BASIC: Executing operation Record processed data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:48.132Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-b...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:48.165Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:48.193Z: JOB_MESSAGE_BASIC: Finished operation Record processed data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:48.223Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_10_38_39-7812845776127304069 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:48.262Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:38:48.295Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:39:18.372Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:04.753Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:04.795Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:48.685Z: JOB_MESSAGE_BASIC: Finished operation Record processed data/Write/WriteImpl/DoOnce/Read+Record processed data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:48.764Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:48.820Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:48.936Z: JOB_MESSAGE_BASIC: Executing operation Record processed data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:48.970Z: JOB_MESSAGE_BASIC: Executing operation Record processed data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:49.010Z: JOB_MESSAGE_BASIC: Executing operation Record processed data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:49.019Z: JOB_MESSAGE_BASIC: Finished operation Record processed data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:49.034Z: JOB_MESSAGE_BASIC: Finished operation Record processed data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:49.069Z: JOB_MESSAGE_BASIC: Finished operation Record processed data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:49.086Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:49.124Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:49.164Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.517Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.579Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.604Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.674Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.704Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.724Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.737Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.765Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.792Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.796Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.832Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.866Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:52.907Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format income+Record original data/Write/WriteImpl/WriteBundles/WriteBundles+Record original data/Write/WriteImpl/Pair+Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record original data/Write/WriteImpl/GroupByKey/Reify+Record original data/Write/WriteImpl/GroupByKey/Write+Classify income and social-econ status+Record processed data/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Record processed data/Write/WriteImpl/Pair+Record processed data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record processed data/Write/WriteImpl/GroupByKey/Reify+Record processed data/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:41:53.980Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_10978213249210987748". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_10978213249210987748".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:43:27.430Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_10978213249210987748"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:43:27.795Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_2206809507433147576" started. You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_2206809507433147576".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:43:58.257Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_2206809507433147576" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:43:58.283Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_2206809507433147576"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:44:03.626Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_10978213249210988632". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_10978213249210988632".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:44:14.102Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_10978213249210988632" done.

In [3]:
%%bigquery
select *
from acs_2018_modeled.Income_Beam_DF
where NAME is not null
limit 20

,NAME,Income_Less_10k,Income_10k_14k,Income_15k_24k,Income_25k_34k,Income_35k_49k,Income_50k_74k,Income_75k_99k,Income_100k_149k,Income_150k_199k,Income_200k_More,Lowest,Lower_Middle,Middle,Upper_Middle,Rich,Predominant_Class,Average
0,ZCTA5 45115,0.0,0.0,14.8,0.0,9.9,0.0,34.6,0.0,0.0,40.7,14.8,9.9,34.6,0.0,40.7,Rich,55.5584
1,ZCTA5 22646,11.2,0.0,15.7,0.0,0.0,0.0,12.4,0.0,0.0,60.7,26.9,0.0,12.4,0.0,60.7,Rich,66.4638
2,ZCTA5 87070,0.0,0.0,23.1,0.0,0.0,0.0,0.0,0.0,0.0,76.9,23.1,0.0,0.0,0.0,76.9,Rich,78.7018
3,ZCTA5 62622,0.0,0.0,0.0,0.0,0.0,45.5,0.0,0.0,0.0,54.5,0.0,0.0,45.5,0.0,54.5,Rich,65.7840
4,ZCTA5 07846,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,0.0,70.0,0.0,0.0,30.0,0.0,70.0,Rich,77.4400
5,ZCTA5 22946,9.9,0.0,0.0,11.3,9.9,22.5,8.5,0.0,0.0,38.0,9.9,21.2,31.0,0.0,38.0,Rich,49.7326
6,ZCTA5 21862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,Rich,100.0000
7,ZCTA5 84329,0.0,0.0,0.0,0.0,31.3,0.0,0.0,0.0,0.0,68.8,0.0,31.3,0.0,0.0,68.8,Rich,74.0584
8,ZCTA5 22579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,Rich,100.0000
9,ZCTA5 10503,14.2,0.0,0.0,0.0,12.5,15.0,15.0,0.0,0.0,43.3,14.2,12.5,30.0,0.0,43.3,Rich,54.6240
10,ZCTA5 10279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,Rich,100.0000
11,ZCTA5 64101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,Rich,100.0000
12,ZCTA5 28749,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,Rich,100.0000
13,ZCTA5 08064,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,Rich,100.0000
14,ZCTA5 31207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,Rich,100.0000
15,ZCTA5 15072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,Rich,100.0000
16,ZCTA5 91980,23.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76.2,23.8,0.0,0.0,0.0,76.2,Rich,76.6760
17,ZCTA5 78027,0.0,0.0,0.0,0.0,9.9,29.7,0.0,0.0,0.0,60.4,0.0,9.9,29.7,0.0,60.4,Rich,69.4288
18,ZCTA5 57741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,Rich,100.0000
19,ZCTA5 47437,20.7,0.0,0.0,0.0,18.3,28.0,0.0,0.0,0.0,32.9,20.7,18.3,28.0,0.0,32.9,Rich,43.3324

## Labor_Force_Stats

In [10]:
% run Labor_Force_Stats_beam_dataflow.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))

In [3]:
%%bigquery
select *
from acs_2018_modeled.Labor_Force_Stats_Beam_DF
where NAME is not null
limit 20

,NAME,Labor_Force,Civilian_Labor_Force_Employed,Civilian_Labor_Force_Unemployed,Children_In_HouseHold
0,ZCTA5 87548,0.0,0.0,0.0,0
1,ZCTA5 87566,0.0,0.0,0.0,0
2,ZCTA5 87516,0.0,0.0,0.0,0
3,ZCTA5 87521,0.0,0.0,0.0,0
4,ZCTA5 87530,0.0,0.0,0.0,0
5,ZCTA5 87577,0.0,0.0,0.0,0
6,ZCTA5 87581,0.0,0.0,0.0,0
7,ZCTA5 87582,0.0,0.0,0.0,0
8,ZCTA5 87012,0.0,0.0,0.0,0
9,ZCTA5 87539,0.0,0.0,0.0,0
10,ZCTA5 87575,0.0,0.0,0.0,0
11,ZCTA5 87510,0.0,0.0,0.0,0
12,ZCTA5 87523,0.0,0.0,0.0,0
13,ZCTA5 87013,0.0,0.0,0.0,0
14,ZCTA5 87578,0.0,0.0,0.0,0
15,ZCTA5 87551,0.0,0.0,0.0,0
16,ZCTA5 87412,0.0,0.0,0.0,0
17,ZCTA5 87522,0.0,0.0,0.0,0
18,ZCTA5 87532,0.0,0.0,0.0,0
19,ZCTA5 87518,0.0,0.0,0.0,0

## Labor_In_Industry

In [10]:
% run Labor_In_Industry_beam_dataflow.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))

In [4]:
%%bigquery
select *
from acs_2018_modeled.Labor_In_Industry_Beam_DF
where NAME is not null
limit 20

,NAME,Agriculture,Construction,Manufacturing,Wholesale,Retail,Transportation,Information,Finance_Real_Estate,Professional_Scientific_Management,Educational_Health_Care,Art_Entertainment,Public_Administration,Predominant_Industry_First,Predominant_Industry_Second,Predominant_Industry_Third
0,ZCTA5 47969,0.0,4.0,46.0,0.0,9.0,2.0,5.0,0.0,2.0,4.0,0.0,0.0,Manufacturing,Retail,Information
1,ZCTA5 45740,0.0,2.0,5.0,0.0,19.0,5.0,13.0,9.0,0.0,30.0,0.0,6.0,Educational_Health_Care,Retail,Information
2,ZCTA5 42541,10.0,0.0,9.0,0.0,31.0,16.0,16.0,0.0,0.0,53.0,8.0,0.0,Educational_Health_Care,Retail,Information
3,ZCTA5 18920,0.0,0.0,0.0,0.0,25.0,0.0,16.0,0.0,14.0,84.0,9.0,0.0,Educational_Health_Care,Retail,Information
4,ZCTA5 83025,0.0,21.0,0.0,0.0,98.0,0.0,21.0,0.0,0.0,0.0,159.0,0.0,Art_Entertainment,Retail,Information
5,ZCTA5 42214,7.0,0.0,0.0,0.0,43.0,14.0,33.0,6.0,25.0,47.0,16.0,20.0,Educational_Health_Care,Retail,Information
6,ZCTA5 21810,46.0,26.0,0.0,0.0,101.0,20.0,69.0,0.0,0.0,27.0,0.0,133.0,Public_Administration,Retail,Information
7,ZCTA5 66963,0.0,2.0,18.0,2.0,11.0,2.0,5.0,2.0,4.0,5.0,0.0,0.0,Manufacturing,Retail,Information
8,ZCTA5 28626,37.0,75.0,126.0,39.0,178.0,46.0,138.0,25.0,65.0,348.0,45.0,22.0,Educational_Health_Care,Retail,Information
9,ZCTA5 59354,5.0,0.0,0.0,0.0,0.0,8.0,2.0,0.0,0.0,2.0,0.0,0.0,Transportation,Agriculture,Information
10,ZCTA5 74577,7.0,4.0,0.0,0.0,3.0,0.0,4.0,0.0,3.0,34.0,0.0,0.0,Educational_Health_Care,Agriculture,Information
11,ZCTA5 88025,25.0,0.0,0.0,0.0,0.0,0.0,9.0,6.0,0.0,38.0,0.0,0.0,Educational_Health_Care,Agriculture,Information
12,ZCTA5 88265,10.0,0.0,0.0,0.0,0.0,18.0,9.0,0.0,0.0,0.0,0.0,0.0,Transportation,Agriculture,Information
13,ZCTA5 76866,47.0,64.0,25.0,0.0,29.0,1.0,43.0,24.0,15.0,38.0,0.0,29.0,Construction,Agriculture,Information
14,ZCTA5 59436,143.0,70.0,8.0,8.0,72.0,68.0,76.0,56.0,32.0,249.0,18.0,27.0,Educational_Health_Care,Agriculture,Information
15,ZCTA5 25075,27.0,0.0,0.0,15.0,14.0,0.0,18.0,0.0,0.0,55.0,0.0,0.0,Educational_Health_Care,Agriculture,Information
16,ZCTA5 83271,35.0,2.0,1.0,18.0,7.0,12.0,25.0,4.0,4.0,59.0,5.0,0.0,Educational_Health_Care,Agriculture,Information
17,ZCTA5 99154,7.0,4.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,Agriculture,Construction,Information
18,ZCTA5 05141,0.0,20.0,2.0,0.0,0.0,0.0,5.0,0.0,23.0,5.0,0.0,0.0,Professional_Scientific_Management,Construction,Information
19,ZCTA5 87315,0.0,13.0,0.0,0.0,0.0,0.0,10.0,0.0,18.0,0.0,0.0,0.0,Professional_Scientific_Management,Construction,Information

## Commute

In [1]:
% run Commute_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/commute-df.1584124139.442072/pipeline.pb...
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/commute-df.1584124139.442072/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpbl0inxox', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://sashimi-sushi/staging/commute-df.1584124139.442072/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/commute-df.1584124139.442072/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/commute-df.1584124139.442072/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpbl0inxox', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://sashimi-sushi/staging/commute-df.1584124139.442072/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/commute-df.1584124139.442072/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/commute-df.1584124139.442072/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-13T18:29:05.467822Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-13_11_29_04-10928320869156441087'
 location: 'us-central1'
 name: 'commute-df'
 projectId: 'sashimi-266523'
 stageStates: []
 startTime: '2020-03-13T18:29:05.467822Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-13_11_29_04-10928320869156441087]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-13_11_29_04-10928320869156441087?project=sashimi-266523
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_11_29_04-10928320869156441087 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:04.380Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-13_11_29_04-10928320869156441087. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:04.380Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-13_11_29_04-10928320869156441087.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:09.971Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:10.464Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.123Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.163Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record processed data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.195Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record original data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.240Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.273Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.376Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.629Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.671Z: JOB_MESSAGE_DETAILED: Fusing consumer Format income into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.708Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.736Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/WriteBundles/WriteBundles into Format income
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.773Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format income
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.811Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Pair into Record original data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.845Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record original data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.883Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Reify into Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.919Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Write into Record original data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.955Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/GroupByWindow into Record original data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:11.996Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Extract into Record original data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.034Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/Pair into Record processed data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.066Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record processed data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.102Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/GroupByKey/Reify into Record processed data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.134Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/GroupByKey/Write into Record processed data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.165Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/GroupByKey/GroupByWindow into Record processed data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.203Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/Extract into Record processed data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.233Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/InitializeWrite into Record original data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.271Z: JOB_MESSAGE_DETAILED: Fusing consumer Record processed data/Write/WriteImpl/InitializeWrite into Record processed data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.313Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.344Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.372Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.408Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.589Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.646Z: JOB_MESSAGE_BASIC: Executing operation Record processed data/Write/WriteImpl/DoOnce/Read+Record processed data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.685Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.687Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.718Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.718Z: JOB_MESSAGE_BASIC: Executing operation Record processed data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.747Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.784Z: JOB_MESSAGE_BASIC: Finished operation Record processed data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.801Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.884Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:12.918Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_11_29_04-10928320869156441087 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:29:59.538Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:31:38.851Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:31:38.963Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.223Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.389Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.512Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.680Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.728Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.762Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.764Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.796Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.826Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.828Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.863Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:22.905Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.470Z: JOB_MESSAGE_BASIC: Finished operation Record processed data/Write/WriteImpl/DoOnce/Read+Record processed data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.541Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.573Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.650Z: JOB_MESSAGE_BASIC: Executing operation Record processed data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.679Z: JOB_MESSAGE_BASIC: Executing operation Record processed data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.704Z: JOB_MESSAGE_BASIC: Finished operation Record processed data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.714Z: JOB_MESSAGE_BASIC: Executing operation Record processed data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.750Z: JOB_MESSAGE_BASIC: Finished operation Record processed data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.772Z: JOB_MESSAGE_BASIC: Finished operation Record processed data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.774Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.821Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.866Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format income+Record original data/Write/WriteImpl/WriteBundles/WriteBundles+Record processed data/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Record original data/Write/WriteImpl/Pair+Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record original data/Write/WriteImpl/GroupByKey/Reify+Record original data/Write/WriteImpl/GroupByKey/Write+Record processed data/Write/WriteImpl/Pair+Record processed data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record processed data/Write/WriteImpl/GroupByKey/Reify+Record processed data/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:25.897Z: JOB_MESSAGE_DEBUG: Value "Record processed data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:32:27.136Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_17295148611007451368". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_17295148611007451368".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:33:34.420Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_17295148611007451368"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:33:34.856Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_6423994544691719734" started. You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_6423994544691719734".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:34:05.319Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_6423994544691719734" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:34:05.377Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_6423994544691719734"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T18:34:23.542Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_17295148611007454844". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_17295148611007454844".

In [12]:
%%bigquery
select *
from acs_2018_modeled.Commute_Beam_DF
where NAME is not null
limit 20

,NAME,Drive_Alone,Carpooled,Public_Transportation,Walking,Others,Work_From_Home,Mean_Travel_Time_To_Work
0,ZCTA5 87012,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ZCTA5 87412,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ZCTA5 87530,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ZCTA5 87518,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ZCTA5 87528,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ZCTA5 87523,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,ZCTA5 87522,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,ZCTA5 87013,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,ZCTA5 87520,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,ZCTA5 87533,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,ZCTA5 87419,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,ZCTA5 87521,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,ZCTA5 87566,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,ZCTA5 87532,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,ZCTA5 87537,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,ZCTA5 87017,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,ZCTA5 87554,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,ZCTA5 87511,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,ZCTA5 87582,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,ZCTA5 87578,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Working_Weeks_Per_Year

In [2]:
% run Working_Weeks_Per_Year_beam_dataflow.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))

In [5]:
%%bigquery
select *
from acs_2018_modeled.Working_Weeks_Per_Year_Beam_DF
where NAME is not null
limit 20

,NAME,Work_50_to_52_weeks,Work_48_to_49_weeks,Work_40_to_47_weeks,Work_27_to_39_weeks,Work_14_to_26_weeks,Work_1_to_13_weeks,No_working
0,ZCTA5 75771,6248,91,520,659,477,497,2917
1,ZCTA5 39154,3351,91,120,272,223,334,2666
2,ZCTA5 77020,9161,91,236,503,483,620,5877
3,ZCTA5 19565,3168,91,273,353,233,409,911
4,ZCTA5 37650,3316,91,389,198,245,502,2349
5,ZCTA5 27536,4416,91,595,459,253,517,3284
6,ZCTA5 94549,10068,347,953,713,518,1249,3792
7,ZCTA5 90048,11537,347,970,752,532,746,2138
8,ZCTA5 01851,12464,347,984,911,804,608,5078
9,ZCTA5 44113,8669,347,646,585,848,1105,3878
10,ZCTA5 53150,10995,347,730,633,615,681,1989
11,ZCTA5 94579,8867,347,688,561,362,538,3619
12,ZCTA5 96740,16024,347,878,1028,686,925,4905
13,ZCTA5 17815,9979,347,918,1193,698,856,7603
14,ZCTA5 60707,17118,347,1084,1077,963,1235,6271
15,ZCTA5 76244,34277,347,2280,1426,1741,2222,7319
16,ZCTA5 17013,13096,347,1173,1192,1233,2002,3954
17,ZCTA5 24401,12862,347,970,955,722,1184,4869
18,ZCTA5 33162,18186,347,1296,1152,731,1269,9018
19,ZCTA5 46304,9633,347,725,719,508,595,3744

## Working_Hours_Per_Week

In [3]:
% run Working_Hours_Per_Week_beam_dataflow.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))

In [9]:
%%bigquery
select *
from acs_2018_modeled.Working_Hours_Per_Week_Beam_DF
where NAME is not null
limit 20

           NAME  Work_35h_or_more  Work_16h_to_34h  Work_1h_to_15h  No_working
0   ZCTA5 26137               160                0               0         202
1   ZCTA5 44652                16                0               0          16
2   ZCTA5 57420                22                0               0           8
3   ZCTA5 44850                21                0               0          14
4   ZCTA5 65436                24                0               0           6
5   ZCTA5 51111                69                0               0          13
6   ZCTA5 70076                73                0               0          27
7   ZCTA5 72005                44                0               0          37
8   ZCTA5 12742                36                0               0           4
9   ZCTA5 99510               898                0               0           3
10  ZCTA5 25942                53                0               0          46
11  ZCTA5 26254                72                0               0          67
12  ZCTA5 26421                19                0               0          51
13  ZCTA5 41713                 0                0               0          58
14  ZCTA5 29122                17                0               0           7
15  ZCTA5 59928                31                0               0          43
16  ZCTA5 75558               681                0               0         495
17  ZCTA5 25879                72                0               0          72
18  ZCTA5 93645               127                0               0          15
19  ZCTA5 48633                14                0               0          63

## Work_Stats

In [4]:
% run Work_Stats_beam_dataflow.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))

In [13]:
%%bigquery
select *
from acs_2018_modeled.Work_Stats_Beam_DF
where NAME is not null
limit 20

           NAME  Mean_hours  Median_age_working  Full_time_year_round
0   ZCTA5 65305        43.2                23.0                  1871
1   ZCTA5 07310        43.2                32.0                  6658
2   ZCTA5 76458        43.2                42.0                  1476
3   ZCTA5 75039        43.2                34.5                 10691
4   ZCTA5 67423        43.2                36.5                    86
5   ZCTA5 67547        43.2                42.5                   734
6   ZCTA5 40070        43.2                44.5                   175
7   ZCTA5 12410        43.2                50.5                   128
8   ZCTA5 07302        43.2                35.0                 23711
9   ZCTA5 47272        43.2                41.0                   684
10  ZCTA5 76444        43.2                41.0                  1012
11  ZCTA5 59218        43.2                43.0                   317
12  ZCTA5 82083        43.2                43.0                    58
13  ZCTA5 60029        43.2                45.0                   181
14  ZCTA5 66865        43.2                47.0                   515
15  ZCTA5 56125        43.2                49.0                    25
16  ZCTA5 33132        43.2                35.5                  6001
17  ZCTA5 15430        43.2                41.5                    86
18  ZCTA5 77565        43.2                43.5                  2947
19  ZCTA5 74636        43.2                43.5                   108

## Housing_Unit

In [5]:
% run Housing_Unit_beam_dataflow.pygt

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/housing-unit-df.1584127307.395712/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/housing-unit-df.1584127307.395712/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmp2_m_cn0z', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://sashimi-sushi/staging/housing-unit-df.1584127307.395712/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/housing-unit-df.1584127307.395712/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/housing-unit-df.1584127307.395712/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmp2_m_cn0z', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://sashimi-sushi/staging/housing-unit-df.1584127307.395712/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/housing-unit-df.1584127307.395712/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/housing-unit-df.1584127307.395712/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-13T19:21:53.282810Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-13_12_21_52-1719001029896742601'
 location: 'us-central1'
 name: 'housing-unit-df'
 projectId: 'sashimi-266523'
 stageStates: []
 startTime: '2020-03-13T19:21:53.282810Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-13_12_21_52-1719001029896742601]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-13_12_21_52-1719001029896742601?project=sashimi-266523
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_12_21_52-1719001029896742601 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:52.113Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-13_12_21_52-1719001029896742601. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:52.113Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-13_12_21_52-1719001029896742601.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:57.669Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:58.247Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:58.872Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:58.900Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record the classified data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:58.924Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record original data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:58.957Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:58.983Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.048Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.299Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.321Z: JOB_MESSAGE_DETAILED: Fusing consumer Format column into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.350Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.375Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.407Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.432Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Pair into Record original data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.456Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record original data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.483Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Reify into Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.511Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Write into Record original data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.536Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/GroupByWindow into Record original data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.564Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Extract into Record original data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.586Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Pair into Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.607Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record the classified data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.628Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Reify into Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.658Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Write into Record the classified data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.680Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow into Record the classified data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.701Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Extract into Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.725Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/InitializeWrite into Record original data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.752Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/InitializeWrite into Record the classified data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.777Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.807Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.833Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:21:59.857Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.128Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.189Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.220Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.231Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.248Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.256Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.271Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.306Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.306Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.365Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:00.391Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_12_21_52-1719001029896742601 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:22:24.876Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:00.969Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:01Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:35.618Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:35.692Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:35.732Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:35.953Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:35.994Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:36Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:36.032Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:36.046Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:36.087Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:36.106Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:36.158Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:36.234Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.224Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.281Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.305Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.355Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.379Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.395Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.404Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.434Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.452Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.453Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.490Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.513Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format column+Record original data/Write/WriteImpl/WriteBundles/WriteBundles+Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Record original data/Write/WriteImpl/Pair+Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record original data/Write/WriteImpl/GroupByKey/Reify+Record original data/Write/WriteImpl/GroupByKey/Write+Record the classified data/Write/WriteImpl/Pair+Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record the classified data/Write/WriteImpl/GroupByKey/Reify+Record the classified data/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:39.536Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:24:40.952Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_1497398648885871340". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_1497398648885871340".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:25:50.133Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_1497398648885871340"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:25:50.774Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_16512140394989095954" started. You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_16512140394989095954".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:26:21.085Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_16512140394989095954" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:26:21.117Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_16512140394989095954"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:26:40.640Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_1497398648885871624". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_1497398648885871624".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:26:51.147Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_1497398648885871624" done.

In [15]:
%%bigquery
select *
from acs_2018_modeled.Housing_Unit_Beam_DF
where NAME is not null
limit 20

,NAME,Detached_Unit_1,Attached_Unit_1,Units_2,Units_3_to_4,Units_5_to_9,Units_10_to_19,Units_20_or_more,Mobile_Home,RV_Boat
0,ZCTA5 01199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ZCTA5 58405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ZCTA5 02912,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ZCTA5 82646,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ZCTA5 23160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ZCTA5 63155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,ZCTA5 32228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,ZCTA5 98195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,ZCTA5 28310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,ZCTA5 68952,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,ZCTA5 82084,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,ZCTA5 07418,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,ZCTA5 56224,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,ZCTA5 50577,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,ZCTA5 56294,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,ZCTA5 68945,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,ZCTA5 83277,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,ZCTA5 38765,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,ZCTA5 93962,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,ZCTA5 98929,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Housing_Unit_Status

In [6]:
% run Housing_Unit_Status_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/housing-unit-status-df.1584128765.060396/pipeline.pb...
INFO:oauth2client.transport:Refreshing due to a 401 (attempt 1/2)
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/housing-unit-status-df.1584128765.060396/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpj8hefi1o', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://sashimi-sushi/staging/housing-unit-status-df.1584128765.060396/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/housing-unit-status-df.1584128765.060396/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/housing-unit-status-df.1584128765.060396/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpj8hefi1o', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://sashimi-sushi/staging/housing-unit-status-df.1584128765.060396/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/housing-unit-status-df.1584128765.060396/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/housing-unit-status-df.1584128765.060396/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-13T19:46:10.883756Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-13_12_46_09-5008744845026618674'
 location: 'us-central1'
 name: 'housing-unit-status-df'
 projectId: 'sashimi-266523'
 stageStates: []
 startTime: '2020-03-13T19:46:10.883756Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-13_12_46_09-5008744845026618674]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-13_12_46_09-5008744845026618674?project=sashimi-266523
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_12_46_09-5008744845026618674 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:09.695Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-13_12_46_09-5008744845026618674. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:09.695Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-13_12_46_09-5008744845026618674.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:13.108Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:13.673Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-a.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.258Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.294Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record the classified data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.327Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record original data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.356Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.389Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.483Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.742Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.775Z: JOB_MESSAGE_DETAILED: Fusing consumer Format column into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.807Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.843Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.875Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.899Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Pair into Record original data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.923Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record original data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.946Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Reify into Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:14.984Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Write into Record original data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.016Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/GroupByWindow into Record original data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.050Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Extract into Record original data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.089Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Pair into Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.126Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record the classified data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.154Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Reify into Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.192Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Write into Record the classified data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.227Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow into Record the classified data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.266Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Extract into Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.303Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/InitializeWrite into Record original data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.340Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/InitializeWrite into Record the classified data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.379Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.415Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.445Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.485Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.729Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.801Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.839Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.851Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.877Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.892Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-a...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.916Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.951Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:15.976Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:16.012Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:16.048Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_12_46_09-5008744845026618674 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:46:46.209Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:18.622Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:18.654Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:51.886Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:51.945Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:51.975Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:52.039Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:52.065Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:52.087Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:52.096Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:52.128Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:52.148Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:52.149Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:52.175Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:52.199Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.404Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.461Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.491Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.548Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.567Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.590Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.604Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.623Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.628Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.669Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.698Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.723Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:55.746Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format column+Record original data/Write/WriteImpl/WriteBundles/WriteBundles+Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Record original data/Write/WriteImpl/Pair+Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record original data/Write/WriteImpl/GroupByKey/Reify+Record original data/Write/WriteImpl/GroupByKey/Write+Record the classified data/Write/WriteImpl/Pair+Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record the classified data/Write/WriteImpl/GroupByKey/Reify+Record the classified data/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:48:56.987Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_6949333060722265996". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_6949333060722265996".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:50:06.184Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_6949333060722265996"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:50:06.568Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_13242062982822500701" started. You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_13242062982822500701".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:50:36.905Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_13242062982822500701" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:50:36.949Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_13242062982822500701"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:50:50.463Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_6949333060722265232". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_6949333060722265232".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:51:00.959Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_6949333060722265232" done.

In [17]:
%%bigquery
select *
from acs_2018_modeled.Housing_Unit_Status_Beam_DF
where NAME is not null
limit 20

,NAME,Total_Housing_Units,Occupied_Housing_Units,Vacant_Housing_Units
0,ZCTA5 00715,1333,80.5,19.5
1,ZCTA5 00667,12332,65.0,35.0
2,ZCTA5 00627,14114,81.0,19.0
3,ZCTA5 00662,19250,73.5,26.5
4,ZCTA5 00669,11801,81.5,18.5
5,ZCTA5 00687,11634,85.5,14.5
6,ZCTA5 00622,8695,24.5,75.5
7,ZCTA5 00714,8418,71.0,29.0
8,ZCTA5 00631,809,79.5,20.5
9,ZCTA5 00653,5714,62.4,37.6
10,ZCTA5 00705,9701,84.8,15.2
11,ZCTA5 00641,12483,73.8,26.2
12,ZCTA5 00682,15292,77.8,22.2
13,ZCTA5 00664,6259,81.8,18.2
14,ZCTA5 00683,14994,74.8,25.2
15,ZCTA5 00698,17330,61.9,38.1
16,ZCTA5 00612,29671,76.1,23.9
17,ZCTA5 00694,142,20.4,79.6
18,ZCTA5 00704,3688,77.6,22.4
19,ZCTA5 00685,17969,78.1,21.9

## Housing_Value

In [7]:
% run Housing_Value_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/housing-value-df.1584129207.066433/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/housing-value-df.1584129207.066433/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpdkbw23d2', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://sashimi-sushi/staging/housing-value-df.1584129207.066433/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/housing-value-df.1584129207.066433/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/housing-value-df.1584129207.066433/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpdkbw23d2', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://sashimi-sushi/staging/housing-value-df.1584129207.066433/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/housing-value-df.1584129207.066433/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/housing-value-df.1584129207.066433/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-13T19:53:32.955158Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-13_12_53_31-10209450009327442880'
 location: 'us-central1'
 name: 'housing-value-df'
 projectId: 'sashimi-266523'
 stageStates: []
 startTime: '2020-03-13T19:53:32.955158Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-13_12_53_31-10209450009327442880]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-13_12_53_31-10209450009327442880?project=sashimi-266523
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_12_53_31-10209450009327442880 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:31.833Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-13_12_53_31-10209450009327442880.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:31.833Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-13_12_53_31-10209450009327442880. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:35.730Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:36.297Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:36.844Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:36.876Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record the classified data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:36.899Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record original data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:36.959Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:36.985Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.070Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.258Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.292Z: JOB_MESSAGE_DETAILED: Fusing consumer Format column into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.316Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.347Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles into Classify the data
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.377Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Classify the data
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.407Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Pair into Record original data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.440Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record original data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.468Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Reify into Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.489Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Write into Record original data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.520Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/GroupByWindow into Record original data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.547Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Extract into Record original data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.570Z: JOB_MESSAGE_DETAILED: Fusing consumer Classify the data into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.594Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Pair into Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.622Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record the classified data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.655Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Reify into Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.691Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Write into Record the classified data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.719Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow into Record the classified data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.750Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Extract into Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.775Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/InitializeWrite into Record original data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.800Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/InitializeWrite into Record the classified data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.835Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.870Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.894Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:37.924Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_12_53_31-10209450009327442880 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.366Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.429Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.456Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.470Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.479Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.502Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.504Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.554Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.554Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.613Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:53:38.636Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:54:04.496Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:55:38.805Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:55:38.846Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.469Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.538Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.578Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.637Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.687Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.697Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.717Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.736Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.768Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.778Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.804Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:16.849Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:19.988Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.048Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.080Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.142Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.180Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.199Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.203Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.237Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.257Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.275Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.304Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.340Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:20.381Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format column+Record original data/Write/WriteImpl/WriteBundles/WriteBundles+Record original data/Write/WriteImpl/Pair+Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record original data/Write/WriteImpl/GroupByKey/Reify+Record original data/Write/WriteImpl/GroupByKey/Write+Classify the data+Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Record the classified data/Write/WriteImpl/Pair+Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record the classified data/Write/WriteImpl/GroupByKey/Reify+Record the classified data/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:56:21.486Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_2715159672332749064". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_2715159672332749064".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:57:27.371Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_2715159672332749064"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:57:27.768Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_18170467238517308208" started. You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_18170467238517308208".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:57:58.064Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_18170467238517308208" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:57:58.096Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_18170467238517308208"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:58:21.792Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_2715159672332747196". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_2715159672332747196".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T19:58:32.264Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_2715159672332747196" done.

In [28]:
%%bigquery
select *
from acs_2018_modeled.Housing_Value_Beam_DF
where NAME is not null
limit 20

,NAME,Less_than_V50k,V50k_to_99k,V100k_to_149k,V150k_to_199k,V200k_to_399k,V400k_to_499k,V500k_to_999k,V1M_and_more,Low_Housing_Value,Middle_Housing_Value,High_Housing_Value
0,ZCTA5 72035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ZCTA5 76949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ZCTA5 70803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ZCTA5 30812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ZCTA5 76908,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ZCTA5 98641,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,100.0
6,ZCTA5 99020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,ZCTA5 75390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,ZCTA5 39193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,ZCTA5 72367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,ZCTA5 21031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,ZCTA5 81038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,ZCTA5 29634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,ZCTA5 23551,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,ZCTA5 60088,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,ZCTA5 90831,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,ZCTA5 83322,0.0,0.0,0.0,0.0,12.5,87.5,0.0,0.0,0.0,100.0,0.0
17,ZCTA5 87524,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,0.0
18,ZCTA5 10985,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,0.0
19,ZCTA5 25203,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,0.0

## Built_Year

In [6]:
% run Built_Year_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/built-year-df.1584119028.445238/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/built-year-df.1584119028.445238/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmp9uww3yik', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://sashimi-sushi/staging/built-year-df.1584119028.445238/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/built-year-df.1584119028.445238/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/built-year-df.1584119028.445238/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmp9uww3yik', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://sashimi-sushi/staging/built-year-df.1584119028.445238/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/built-year-df.1584119028.445238/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/built-year-df.1584119028.445238/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-13T17:03:54.273447Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-13_10_03_53-11410014621046689409'
 location: 'us-central1'
 name: 'built-year-df'
 projectId: 'sashimi-266523'
 stageStates: []
 startTime: '2020-03-13T17:03:54.273447Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-13_10_03_53-11410014621046689409]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-13_10_03_53-11410014621046689409?project=sashimi-266523
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_10_03_53-11410014621046689409 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:53.422Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-13_10_03_53-11410014621046689409. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:53.422Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-13_10_03_53-11410014621046689409.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:56.684Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:57.343Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:57.995Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.033Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record the classified data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.075Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record original data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.122Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.157Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.272Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.571Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.601Z: JOB_MESSAGE_DETAILED: Fusing consumer Format column into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.634Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.717Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.750Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.790Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Pair into Record original data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.820Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record original data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.857Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Reify into Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.897Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Write into Record original data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.931Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/GroupByWindow into Record original data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.965Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Extract into Record original data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:58.999Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Pair into Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.037Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record the classified data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.070Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Reify into Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.105Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Write into Record the classified data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.139Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow into Record the classified data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.174Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Extract into Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.220Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/InitializeWrite into Record original data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.252Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/InitializeWrite into Record the classified data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.292Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.327Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.362Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.401Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_10_03_53-11410014621046689409 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.589Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.671Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.705Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.707Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.737Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.737Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.776Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.801Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.822Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.862Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:03:59.896Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:04:23.456Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:01.107Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:01.143Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.268Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.342Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.388Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.519Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.566Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.588Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.618Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.646Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.677Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.687Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.726Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:36.766Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:39.714Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:39.796Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:39.846Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:39.914Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:39.952Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:39.959Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:39.989Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:40.004Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:40.040Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:40.054Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:40.091Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:40.146Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:40.183Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format column+Record original data/Write/WriteImpl/WriteBundles/WriteBundles+Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Record original data/Write/WriteImpl/Pair+Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record original data/Write/WriteImpl/GroupByKey/Reify+Record original data/Write/WriteImpl/GroupByKey/Write+Record the classified data/Write/WriteImpl/Pair+Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record the classified data/Write/WriteImpl/GroupByKey/Reify+Record the classified data/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:06:41.293Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_685873239775001209". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_685873239775001209".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:08:26.802Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_685873239775001209"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:08:27.263Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_8549872659219018868" started. You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_8549872659219018868".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:08:57.611Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_8549872659219018868" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:08:57.640Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_8549872659219018868"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:09:25.896Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_685873239775001365". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_685873239775001365".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T17:09:36.921Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_685873239775001365" done.

In [7]:
%%bigquery
select *
from acs_2018_modeled.Built_Year_Beam_DF
where NAME is not null
limit 20

,NAME,Built_2014_or_later,Built_2010_to_2013,Built_2000_to_2009,Built_1990_to_1999,Built_1980_to_1989,Built_1970_to_1979,Built_1960_to_1969,Built_1950_to_1959,Built_1940_to_1949,Built_1939_or_before
0,ZCTA5 65564,0.0,0.0,27.0,35.1,0.0,37.8,0.0,0.0,0.0,0.0
1,ZCTA5 13362,0.0,0.0,8.8,8.8,0.0,0.0,0.0,0.0,0.0,82.5
2,ZCTA5 23909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ZCTA5 85726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ZCTA5 92147,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ZCTA5 45041,0.0,0.0,0.0,64.7,0.0,0.0,0.0,0.0,0.0,35.3
6,ZCTA5 82229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
7,ZCTA5 58009,0.0,0.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0,50.0
8,ZCTA5 88103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,ZCTA5 12024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,ZCTA5 10020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,ZCTA5 94512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
12,ZCTA5 82428,0.0,0.0,4.5,13.5,4.5,25.2,0.0,9.9,0.0,42.3
13,ZCTA5 70646,0.0,0.0,0.0,19.0,40.5,26.7,0.0,0.0,0.0,13.8
14,ZCTA5 59027,0.0,0.0,23.0,23.6,31.2,9.9,0.0,10.5,0.0,1.8
15,ZCTA5 31045,0.0,0.0,0.0,0.0,46.3,0.0,0.0,0.0,0.0,53.7
16,ZCTA5 29331,0.0,0.0,0.0,0.0,48.8,8.7,0.0,42.5,0.0,0.0
17,ZCTA5 98562,0.0,0.0,0.0,0.0,25.1,24.6,0.0,0.0,0.0,50.3
18,ZCTA5 25121,0.0,0.0,0.0,37.2,32.7,17.5,0.0,0.0,0.0,12.6
19,ZCTA5 87583,0.0,0.0,0.0,4.4,5.9,51.5,0.0,7.8,0.0,30.4

## General_School_Enrollment

In [8]:
% run General_School_Enrollment_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/general-school-enrollment-df.1584129609.126853/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/general-school-enrollment-df.1584129609.126853/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpytf53wdh', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://sashimi-sushi/staging/general-school-enrollment-df.1584129609.126853/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/general-school-enrollment-df.1584129609.126853/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/general-school-enrollment-df.1584129609.126853/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpytf53wdh', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://sashimi-sushi/staging/general-school-enrollment-df.1584129609.126853/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/general-school-enrollment-df.1584129609.126853/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/general-school-enrollment-df.1584129609.126853/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-13T20:00:15.483754Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-13_13_00_14-5715547732450629999'
 location: 'us-central1'
 name: 'general-school-enrollment-df'
 projectId: 'sashimi-266523'
 stageStates: []
 startTime: '2020-03-13T20:00:15.483754Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-13_13_00_14-5715547732450629999]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-13_13_00_14-5715547732450629999?project=sashimi-266523
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_13_00_14-5715547732450629999 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:00:14.258Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-13_13_00_14-5715547732450629999. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:00:14.258Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-13_13_00_14-5715547732450629999.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:25.471Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:26.218Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:26.832Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:26.870Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record the classified data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:26.891Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record original data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:26.931Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:26.962Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.051Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.258Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.286Z: JOB_MESSAGE_DETAILED: Fusing consumer Format column into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.316Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.347Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.379Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.406Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Pair into Record original data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.429Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record original data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.454Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Reify into Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.488Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Write into Record original data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.517Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/GroupByWindow into Record original data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.544Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Extract into Record original data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.571Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Pair into Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.593Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record the classified data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.623Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Reify into Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.647Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Write into Record the classified data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.677Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow into Record the classified data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.701Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Extract into Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.725Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/InitializeWrite into Record original data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.761Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/InitializeWrite into Record the classified data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.805Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.833Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.865Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:27.888Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.113Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.178Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.210Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.222Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.249Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.251Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.280Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.310Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.333Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.365Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:28.385Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_13_00_14-5715547732450629999 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:01:59.977Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:03:40.391Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:03:40.429Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:36.628Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:36.732Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:36.773Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:36.861Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:36.893Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:36.922Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:36.928Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:36.953Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:36.977Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:37.020Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:37.055Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:37.101Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.375Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.459Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.503Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.580Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.618Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.636Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.655Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.717Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.718Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.727Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.800Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format column+Record original data/Write/WriteImpl/WriteBundles/WriteBundles+Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Record original data/Write/WriteImpl/Pair+Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record original data/Write/WriteImpl/GroupByKey/Reify+Record original data/Write/WriteImpl/GroupByKey/Write+Record the classified data/Write/WriteImpl/Pair+Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record the classified data/Write/WriteImpl/GroupByKey/Reify+Record the classified data/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.837Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:39.879Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:04:41.019Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_12485250692429392078". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_12485250692429392078".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:05:50.309Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_12485250692429392078"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:05:50.854Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_14676417831081447958" started. You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_14676417831081447958".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:06:21.187Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_14676417831081447958" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:06:21.255Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_14676417831081447958"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:06:35.511Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_12485250692429393554". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_12485250692429393554".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:06:46.094Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_12485250692429393554" done.

In [20]:
%%bigquery
select *
from acs_2018_modeled.General_School_Enrollment_Beam_DF
where NAME is not null
limit 20

,NAME,Kindergarden,Grade1_to_4,Grade5_to_8,Grade9_to_12,College_Undergrad,Grad_HigherEdu
0,ZCTA5 13352,0,0,0,0,0,0
1,ZCTA5 29543,0,0,0,0,0,0
2,ZCTA5 21824,0,0,0,0,0,0
3,ZCTA5 36913,0,0,0,0,0,0
4,ZCTA5 69335,0,0,0,0,0,0
5,ZCTA5 26215,0,0,0,0,0,0
6,ZCTA5 54561,0,0,0,0,0,0
7,ZCTA5 10278,0,0,0,0,0,0
8,ZCTA5 20118,0,0,0,0,0,0
9,ZCTA5 57779,0,0,0,0,0,0
10,ZCTA5 41847,0,0,0,0,0,0
11,ZCTA5 38958,0,0,0,0,0,0
12,ZCTA5 93554,0,0,0,0,0,0
13,ZCTA5 63155,0,0,0,0,0,0
14,ZCTA5 15861,0,0,0,0,3,0
15,ZCTA5 45428,0,0,0,0,5,0
16,ZCTA5 45630,0,0,0,0,8,0
17,ZCTA5 95427,0,0,0,0,8,0
18,ZCTA5 73553,0,0,6,0,16,0
19,ZCTA5 71711,0,0,0,0,16,0

## PrivatePublic_School_Enrollment

In [9]:
% run PrivatePublic_School_Enrollment_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/privatepublic-school-enrollment-df.1584130251.996973/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/privatepublic-school-enrollment-df.1584130251.996973/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmporysm_f1', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://sashimi-sushi/staging/privatepublic-school-enrollment-df.1584130251.996973/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/privatepublic-school-enrollment-df.1584130251.996973/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/privatepublic-school-enrollment-df.1584130251.996973/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmporysm_f1', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://sashimi-sushi/staging/privatepublic-school-enrollment-df.1584130251.996973/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://sashimi-sushi/staging/privatepublic-school-enrollment-df.1584130251.996973/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://sashimi-sushi/staging/privatepublic-school-enrollment-df.1584130251.996973/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-13T20:10:57.775796Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-13_13_10_56-5982094705475735494'
 location: 'us-central1'
 name: 'privatepublic-school-enrollment-df'
 projectId: 'sashimi-266523'
 stageStates: []
 startTime: '2020-03-13T20:10:57.775796Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-13_13_10_56-5982094705475735494]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-13_13_10_56-5982094705475735494?project=sashimi-266523
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_13_10_56-5982094705475735494 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:10:56.586Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-13_13_10_56-5982094705475735494. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:10:56.586Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-13_13_10_56-5982094705475735494.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:22.333Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:22.930Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-f.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:23.586Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:23.626Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record the classified data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:23.664Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Record original data/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:23.705Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:23.742Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:23.858Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.145Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.178Z: JOB_MESSAGE_DETAILED: Fusing consumer Format column into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.219Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.253Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.287Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format column
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.319Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Pair into Record original data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.347Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record original data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.384Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Reify into Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.418Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/Write into Record original data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.455Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/GroupByKey/GroupByWindow into Record original data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.491Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/Extract into Record original data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.524Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Pair into Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.560Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn) into Record the classified data/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.594Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Reify into Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.630Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/Write into Record the classified data/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.669Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow into Record the classified data/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.704Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/Extract into Record the classified data/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.744Z: JOB_MESSAGE_DETAILED: Fusing consumer Record original data/Write/WriteImpl/InitializeWrite into Record original data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.777Z: JOB_MESSAGE_DETAILED: Fusing consumer Record the classified data/Write/WriteImpl/InitializeWrite into Record the classified data/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.813Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.847Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.885Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:24.919Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.250Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.319Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.356Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.371Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.403Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.413Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-f...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.439Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.477Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.495Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.550Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:11:25.574Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-13_13_10_56-5982094705475735494 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:12:02.931Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:13:44.452Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:13:44.508Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:21.901Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/DoOnce/Read+Record the classified data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:21.973Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:21.994Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:22.090Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:22.127Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:22.153Z: JOB_MESSAGE_BASIC: Executing operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:22.158Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:22.200Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:22.218Z: JOB_MESSAGE_BASIC: Finished operation Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:22.224Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:22.303Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:22.324Z: JOB_MESSAGE_DEBUG: Value "Record the classified data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:25.640Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/DoOnce/Read+Record original data/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:25.717Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:25.753Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:25.826Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:25.861Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:25.887Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:25.895Z: JOB_MESSAGE_BASIC: Executing operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:25.931Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:25.952Z: JOB_MESSAGE_BASIC: Finished operation Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:25.972Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:26.015Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:26.057Z: JOB_MESSAGE_DEBUG: Value "Record original data/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:26.100Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format column+Record original data/Write/WriteImpl/WriteBundles/WriteBundles+Record the classified data/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Record original data/Write/WriteImpl/Pair+Record original data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record original data/Write/WriteImpl/GroupByKey/Reify+Record original data/Write/WriteImpl/GroupByKey/Write+Record the classified data/Write/WriteImpl/Pair+Record the classified data/Write/WriteImpl/WindowInto(WindowIntoFn)+Record the classified data/Write/WriteImpl/GroupByKey/Reify+Record the classified data/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:14:27.285Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_7009808046579977069". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_7009808046579977069".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:15:35.678Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_7009808046579977069"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:15:36.394Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_9564213935299423272" started. You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_9564213935299423272".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:16:06.741Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_9564213935299423272" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:16:06.775Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_9564213935299423272"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:16:17.956Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_7009808046579977833". You can check its status with the bq tool: "bq show -j --project_id=sashimi-266523 dataflow_job_7009808046579977833".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-13T20:16:28.367Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_7009808046579977833" done.

In [26]:
%%bigquery
select *
from acs_2018_modeled.PrivatePublic_School_Enrollment_Beam_DF
where NAME is not null
limit 20

,NAME,College_Undergrad_Public,College_Undergrad_Private,Grad_HigherEdu_Public,Grad_HigherEdu_Private
0,ZCTA5 84540,0,0,0,0
1,ZCTA5 19735,0,0,0,0
2,ZCTA5 30164,0,0,0,0
3,ZCTA5 70773,0,0,0,0
4,ZCTA5 87032,0,0,0,0
5,ZCTA5 04234,0,0,0,0
6,ZCTA5 25628,0,0,0,0
7,ZCTA5 17005,0,0,0,0
8,ZCTA5 15723,0,0,0,0
9,ZCTA5 83215,0,0,0,0
10,ZCTA5 21543,0,0,0,0
11,ZCTA5 62098,0,0,0,0
12,ZCTA5 67474,0,0,0,0
13,ZCTA5 32356,0,0,0,0
14,ZCTA5 28702,0,0,0,0
15,ZCTA5 46381,0,0,0,0
16,ZCTA5 80479,0,0,0,0
17,ZCTA5 85723,0,0,0,0
18,ZCTA5 14585,0,0,0,0
19,ZCTA5 76268,0,0,0,0